@model GestaoProducao_MVC.Models.RegistroParada

@{
    ViewData["Title"] = "Informar Parada";
}

<h1 class="text-center mt-4">@ViewData["Title"]</h1>

<hr />
<div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-4">
        <form asp-action="IniciarParada">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-3">
                <label asp-for="CodigoParadaId" class="control-label"></label>
                <input asp-for="CodigoParadaId" class="form-control" />
                <span asp-validation-for="CodigoParadaId" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label for="maquinaId" class="control-label">Código Máquina:</label>
                <input type="number" name="maquinaId" class="form-control" required/>
            </div>
            <div class="d-flex justify-content-center align-items-center gap-2 mt-4">
                <input type="submit" value="Informar" class="btn btn-outline-success" />
                <a asp-controller="Apontamentos" asp-action="CentralApontamentos" class="btn btn-outline-dark">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
