@model GestaoProducao_MVC.Models.Apontamento

@{
    ViewData["Title"] = "Encerrar Apontamento";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Finalizar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaquinaId" class="control-label"></label>
                <input type="number" name="maquinaId" class="form-control" />
             </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input type="text" name="descricao" class="form-control" />
             </div>
            <div class="form-group">
                <input type="submit" value="Encerrar" class="btn btn-outline-dark" />
                <a asp-action="CentralApontamentos" class="btn btn-outline-dark">Cancelar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
