@model GestaoProducao_MVC.Models.OrdemProduto

@{
    ViewData["Title"] = "Editar Ordem de Produção";
}

<h1 class="text-center">@ViewData["Title"]</h1>


<hr />
<div class="row d-flex flex-column justify-content-center align-items-center">
    <div class="col-md-4 ">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CodigoProduto" class="control-label"></label>
                <input asp-for="CodigoProduto" class="form-control" />
                <span asp-validation-for="CodigoProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantidadeProduto" class="control-label"></label>
                <input asp-for="QuantidadeProduto" class="form-control" />
                <span asp-validation-for="QuantidadeProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataVenda" class="control-label"></label>
                <input asp-for="DataVenda" class="form-control" />
                <span asp-validation-for="DataVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEntrega" class="control-label"></label>
                <input asp-for="DataEntrega" class="form-control" />
                <span asp-validation-for="DataEntrega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpStatus" class="control-label"></label>
                <select asp-for="OpStatus" asp-items="@Html.GetEnumSelectList<GestaoProducao_MVC.Models.Enums.OpStatus>()"></select>
                <span asp-validation-for="OpStatus" class="text-danger"></span>
            </div>
            <div class="form-group my-3 d-flex justify-content-around">
                <input type="submit" value="Salvar" class="btn btn-outline-success" />
                <a asp-action="Index" class="btn btn-outline-dark">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
