@{
    ViewData["Title"] = "Dashboard Máquinas";
}


<h1>@ViewData["Title"]</h1>


<div class="d-flex justify-content-center align-items-center gap-5" id="divMaquinas">

</div>





















<script src="~/js/dashboard.js"></script>