@{
    ViewData["Title"] = "TMP - Home";
}

<div class="conteudoHome">
   
    <div class="chamadaTmp">
        <img src="~/imgs/logoTmpSystem.png" class="imgTmp" />
        <div class="conteudoTmp">
            <h1 class="tituloTmp">TMP System</h1>
            <p class="textoTmp">
               Solução para gestão de produção.
            </p>
            <p></p>
        </div>
        

    </div>


</div>
