@using GestaoProducao_MVC.Models.Enums
@model GestaoProducao_MVC.Models.AlterarSenhaModel

@{
    ViewData["Title"] = "Alterar senha do usuário";
}

<h1>@ViewData["Title"]</h1>
@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <p>@TempData["MensagemErro"]</p>
    </div>
}
@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <p>@TempData["MensagemSucesso"]</p>
    </div>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="AlterarSenha" asp-action="Alterar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SenhaAtual" class="control-label"></label>
                <input asp-for="SenhaAtual" class="form-control" type="password" />
                <span asp-validation-for="SenhaAtual" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NovaSenha" class="control-label"></label>
                <input asp-for="NovaSenha" class="form-control" type="password" />
                <span asp-validation-for="NovaSenha" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <label asp-for="ConfirmarNovaSenha" class="control-label"></label>
                <input asp-for="ConfirmarNovaSenha" class="form-control" type="password" />
                <span asp-validation-for="ConfirmarNovaSenha" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Confirmar" class="btn btn-outline-warning" />
                <a asp-action="Index" class="btn btn-outline-dark">Cancelar</a>
            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
